[run]
branch = True
include = yrouter/*
omit = */tests/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover

    raise NotImplementedError

ignore_errors = True